<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pic.picker">
    <!-- 在SDCard中创建与删除文件权限 -->
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/><!-- 相机权限 -->

    <!-- AndroidQ -10 存储权限弱化，受到系统限制 需要开启requestLegacyExternalStorage 使用传统权限机制 -->
    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.pic.picker.ui.FreeCropActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ImagePickerTheme"/>
        <activity android:name="com.pic.picker.ui.ImageBaseActivity"/>
        <activity
            android:name="com.pic.picker.ui.ImageGridActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme"/>
        <activity
            android:name="com.pic.picker.ui.ImageCropActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ImagePickerTheme"/>
        <activity
            android:name="com.pic.picker.ui.ImagePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"/>
        <activity
            android:name="com.pic.picker.ui.ImagePreviewDelActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"/>

        <provider
            android:name="com.pic.picker.ImagePickerProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>